
.float-buttons {
 float: right;
}

body, html {
    background-color: black;
    color: orange;
}

.btn {
    border: none;
    background-color: black;
    color: orange;
    margin: 5px;
}

.badge {
    background-color: black;
}

.center {
    text-align: center;
}

.completed {
    text-decoration: line-through;
    color: gray
}

.goal {
    background-color: red;
    padding: 10px;

}